@import src/styles.sass

mark
    position: absolute
    top: 10px
    left: 30%
header
    justify-content: space-between
    display: flex
    height: 100px
    background: $background
    font-family: Regular
    color: $white
    align-items: center
    @media ( max-width: 1000px  )
        nav
            display: none!important
    nav
        ul
            list-style-type: none
            display: flex
            padding: 0px 20px 0px 0px
            li
                margin: 10px 40px 0px 0px
                a
                    font-size: 16px
                    text-transform: uppercase
                    text-align: center
                    padding: 10px
                    text-decoration: none
                    color: $white

                    &:hover
                        cursor: pointer
                        background: $orange
                        border-radius: 20px
    #logo
        font-family: ExtraBold
        &:hover
            cursor: pointer
        a
            text-decoration: none
            color: $white
        p
            font-size: 3rem
            text-align: center
            padding-left: 50px
            letter-spacing: .5rem

            span
                color: $orange
@media  ( max-width: 1000px )
    header
        #logo
            p
                padding-left: 15px
                font-size: 2.5rem
