<footer>
    <div id="footer-bar">
        <div id="logo">
            <a href="#logo">
                <p>ALE<span>X</span> </p>
            </a>
        </div>
        <div id="QLinks">
            <ul>
                <h3>Quick Links</h3>
                <li><a href="#logo">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div id="ELinks">
            <ul>
                <h3>Rights</h3>
                <li><a href="#">Imprint</a></li>
                <li><a href="#">Data Protection</a></li>
                <li><a href="#">Used Licens</a></li>
            </ul>
        </div>
        <div id="Social">
            <h3>Follow Me</h3>
            <ul>
                <li><a href="https://www.instagram.com/alexhuxel/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/alexander-huxel-091b17209/"><i
                            class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/alexanderhuxel"><i class="fab fa-github-square"></i></a></li>
            </ul>
        </div>
    </div>
    <span id="border"></span>
    <div id="copyright">©Copyright 2021 Alex - All Rights Reserved</div>
</footer>