<footer>
    <div id="footer-bar">
        <div id="logo">
            <a href="#logo">
                <p>ALE<span>X</span> </p>
            </a>
        </div>
        <div id="links">
            <div id="QLinks">

                <h3>Quick Links</h3>
                <a href="#logo">Home</a>
                <a href="#about">About Me</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>

            </div>
            <div id="ELinks">

                <h3>Rights</h3>
                <a href="#">Imprint</a>
                <a href="#">Data Protection</a>
                <a href="#">Used Licens</a>

            </div>
            <div id="Social">
                <h3>Follow Me</h3>
                <span>
                    <a href="https://www.instagram.com/alexhuxel/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/alexander-huxel-091b17209/"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/alexanderhuxel"><i class="fab fa-github-square"></i></a>
                </span>


            </div>
        </div>
    </div>
    <span id="border"></span>
    <div id="copyright">©Copyright 2021 Alex - All Rights Reserved</div>
</footer>