<div class="wrap" id="about">
    <div id="imgbox">
        <img src="assets/img/about.jpg">
    </div>
    <div id="text">
        <p>ABOUT</p>
        <p> I´m a german speaking Jr. Front-End Web Developer , im 28 Years old living in Bellheim Germany.
            In November 2020 i decide to change my Workspace.
            <br> <br> <br>
            I was interested in IT since my childhood.
            In the moment i found the "Developer-Akademie.de" my new Chapter of life was sealed. Now im in
            Education with "Developer-Akademie.de" and looking for a Job as Junior Front-End Web Developer.
            <br> <br> <br>
            In May 2014, I successfully completed my apprenticeship as a warehouse logistics specialist. Then I
            worked in this industry to this day, in a few small and large companies, and collected professional
            skills.
        </p>
        <p>HIRE ME</p>
    </div>
</div>