@import src/styles.sass
#about
    background: $background
    padding-top: 300px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    #imgbox
        width: 400px
        height: 300px
        img
            width: 100%
            border-top-right-radius: 20px
            height: 100%
            border-right: $orange solid 10px
            border-top: $orange solid 10px
            z-index: 21
            position: relative

    #text
        margin-left: 100px
        text-align: center
        width: 600px
        color: $white
        p

            &:nth-of-type(1)
                width: 100%
                word-break: break-word
                font-family: ExtraBold
                font-size: 9rem
                letter-spacing: 5px
                color: $font2
                position: relative
                &::after
                    content: "I´M ALEXANDER HUXEL"
                    position: absolute
                    font-size: 2rem
                    font-family: Light
                    color: $white
                    left: 0px
                    right: 0px
                    top: 80px
            &:nth-of-type(2)
                width: 100%
                margin-top: 70px
                word-break: break-word
                font-family: Light

            &:nth-of-type(3)
                margin-top: 30px!important
                width: 200px
                padding: 10px
                border-radius: 20px
                margin-left: auto
                margin-right: auto
                background: $orange
                font-family: Bold
                &:hover
                    cursor: pointer
                    opacity: .9
@media screen and ( max-width: 800px )
    #about
        #imgbox
            display: flex
            justify-content: center
            align-items: center
            img
                width: 80%
        #text
            margin-left: 0px
            padding: 20px
            p
                font-size: 2rem
                &:nth-of-type(1)
                    font-size: 4rem
                    &::after
                        top: 35px
                        font-size: 1rem
