<div class="wrap" id="about">
    <div id="imgbox">
        <img src="assets/img/about.jpg">
    </div>
    <div id="text">
        <p>ABOUT</p>
        <p> Laudantium blasectetur arch Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis, saepe
            repudiandae error reiciendis similique, aut consequuntur, quasi hic eaque a maiores! Quae, ullam! Laboriosam
            eius provident officiis aut ut. itecto illum quibusdam ipsum praesentium earum! Vitae natus officiis hic
            ipsa, dolorum animi adipisci pariatur.</p>
        <p>HIRE ME</p>
    </div>
</div>