@import src/styles.sass

#about
    background: $background
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    #imgbox
        width: 400px
        height: 300px
        img
            border-radius: 50%
            width: 100%
            height: 100%
            border-right: $orange solid 10px
            border-top: $orange solid 10px
            z-index: 21
            position: relative

    #text
        text-align: center
        width: 600px
        color: $white
        p
            &:nth-of-type(1)
                margin: 0px
                width: 100%
                word-break: break-word
                font-family: ExtraBold
                font-size: 9rem
                letter-spacing: 5px
                color: $orange
                position: relative
                &::after
                    content: "I´M ALEXANDER HUXEL"
                    position: absolute
                    font-size: 1.3rem
                    background: rgba(24,24,24,.5)
                    color: $white
                    font-family: Light
                    left: 0px
                    right: 0px
                    top: 90px
            &:nth-of-type(2)
                width: 100%
                word-break: break-word
                font-family: Light

            &:nth-of-type(3)
                margin-top: 30px!important
                width: 200px
                padding: 10px
                border-radius: 20px
                margin-left: auto
                margin-right: auto
                background: $orange
                font-family: Bold
                &:hover
                    cursor: pointer
                    opacity: .9
                a
                    text-decoration: none
                    font-family: Bold
                    color: $white

@media screen and ( max-width: 800px )
    #about
        #imgbox
            display: flex
            justify-content: center
            align-items: center
            img
                height: 80%
                width: 80%
                margin: 30px 30px 0px 30px
        #text
            margin-left: 0px!important
            padding: 0px 20px 20px 20px
            p
                font-size: 2rem
                &:nth-of-type(1)
                    font-size: 4rem
                    &::after
                        top: 35px
                        font-size: 1rem
@media screen and ( min-width: 1000px )
    #text
        margin-left: 100px
