@import src/styles.sass

.half-width
    width: 45%!important
    margin-bottom: 15%
    margin-top: 5%
.margin-left
    margin-left: 10%
.halfplus-width
    width: 45%!important
    height: 100px
.full-width
    margin-top: 5%
    margin-bottom: 5%
    width: 100%!important
.customizer
    color: $white!important
    label
        color: red!important

#contact
    padding-bottom: 200px
    padding-top: 100px
    background: $background
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    #headline
        text-align: center
        width: 100%
        word-break: break-word
        font-family: ExtraBold
        font-size: 9rem
        letter-spacing: 5px
        color: $font2
        position: relative
        &::after
            content: "GET"
            position: absolute
            font-size: 2rem
            font-family: Light
            color: $white
            left: 0px
            right: 0px
            top: 60px
        &::before
            content: "IN TOUCH"
            position: absolute
            font-size: 2rem
            font-family: Light
            color: $white
            left: 0px
            right: 0px
            top: 100px

#messageBox
    display: flex
    width: 80%
    #message
        width: 100%
        display: flex
        justify-content: center
        align-content: center
        #myContact
            width: 300px
            color: $font3
            background: $footer
            #innerBox
                padding: 50px
                span
                    &:nth-of-type(1)
                        p
                            &:nth-of-type(1)
                                font-family: Regular
                                font-size: 1.5rem
                            &:nth-of-type(2)
                                font-family: Light
                    &:nth-of-type(2)
                        p
                            &:nth-of-type(1)
                                font-family: Regular
                                font-size: 1.5rem
                            &:nth-of-type(2)
                                font-family: Light

                    &:nth-of-type(3)
                        p
                            &:nth-of-type(1)
                                font-family: Regular
                                font-size: 1.5rem
                            &:nth-of-type(2), &:nth-of-type(3)
                                font-family: Light

    #contactform
        margin: 0% 5% 0% 10%
        form
            flex-wrap: wrap!important
            display: flex
        p
            background: $orange
            border-radius: 20px
            width: 100px
            text-align: center
            padding: 10px
            color: $white
            font-size: 1rem
            font-family: Bold
            &:hover
                cursor: pointer
                opacity: .9
.error
    color: red
    position: absolute
    bottom: 100px
@media screen and ( max-width: 800px )
    #contact
        #headline
            font-size: 3.5rem
            &::before
                font-size: 1.5rem
                top: 40px
            &::after
                font-size: 1.5rem
                top: 10px
