<div id="contact">
    <p id="headline">CONTACT</p>
    <div id="messageBox">
        <div class="wrap" id="message">
            <div id="myContact">
                <div id="innerBox">
                    <span>
                        <p>E-MAIL</p>
                        <p>Admin@alexhuxel.de</p>
                    </span>
                    <span>
                        <p>PHONE</p>
                        <p>+49 157-8680-1970</p>
                    </span>
                    <span>
                        <p>ADDRESS</p>
                        <p>Bellheim</p>
                        <p>Germany</p>
                    </span>
                </div>
            </div>

            <div id="contactform">
                <form (ngSubmit)="sendMail();" [formGroup]="mailForm" class="example-form">
                    <mat-form-field class="half-width">
                        <mat-label>NAME</mat-label>
                        <input required type="text" id="name" formControlName="name" [(ngModel)]="name" matInput>
                        <mat-error *ngIf="mailForm.controls['name'].hasError('required') && !send">name is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width margin-left">
                        <mat-label>E-MAIL</mat-label>
                        <input required type="email" id="email" formControlName="email" [(ngModel)]="email" matInput>
                        <mat-error *ngIf="mailForm.controls['email'].hasError('required') && !send"> email is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="halfplus-width">
                        <mat-label>PHONE NUMBER</mat-label>
                        <input type="phone" required id="phone" formControlName="phone" [(ngModel)]="phone" matInput>
                        <mat-error *ngIf="mailForm.controls['phone'].hasError('required') && !send">
                            phonenumber is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Message</mat-label>
                        <textarea required id="message" formControlName="message" [(ngModel)]="message"
                            matInput></textarea>
                        <mat-error *ngIf="mailForm.controls['message'].hasError('required') && !send">message is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button type="submit" [disabled]="!mailForm.valid"> Send</button>
                </form>


            </div>


        </div>
    </div>