<div id="contact">
    <p id="headline">CONTACT</p>
    <div id="message">
        <div id="myContact">
            <span>
                <p>EMAIL</p>
                <p>AlexanderHuxel.de</p>
            </span>
            <span>
                <p>PHONE</p>
                <p>+49 157-8888-8888</p>
            </span>
            <span>
                <p>ADDRESS</p>
                <p>Bellheim</p>
                <p>Germany</p>
            </span>
        </div>
    <div id="contactform">
        <input  type="text">
        <input type="number">
        <input type="text">
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <button>SEND</button>
    </div>
    </div>
</div>