<div id="portfolio">
    <p>
        PORTFOLIO
    </p>
    <div id="projects">
        <div *ngFor="let project of portfolio; index as i;" class="project">
            <div (mouseenter)="fadeInProject(i)" (mouseleave)="fadeInProject(i)" (touchstart)="fadeInProject(i)"
                class="box" id="{{ i }}">
                <div id="left">
                    <span><a href="#">Doc</a></span>
                </div>
                <div id="right"><span>
                        <a href="#">Project</a>
                    </span></div>
            </div>

            <div class="template"> {{ project.name }}</div>
            <img src="{{ project.img }}">
            <div class="tec"><img *ngFor="let value of project.tec" src="{{ value }}">
            </div>
        </div>

    </div>