<div id="portfolio">
    <p>
        PORTFOLIO
    </p>
    <div id="projects">
        <div class="project">
            <div class="template"> Quiz</div>
            <img src="../assets/img/Quiz.png">
            <div class="tec"><img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg"></div>
        </div>
        <div class="project">
            <div class="template"> Homepage</div>
            <img src="../assets/img/homepage.png">
            <div class="tec"><img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg"></div>
        </div>
        <div class="project">
            <div class="template"> TicTacToe</div>
            <img src="../assets/img/tictactoe.png">
            <div class="tec"><img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg">
                <img src="../assets/img/angular.svg"></div>
        </div>
       
    </div>
</div>