$orange: #ffb400
$background: #111111
$white: #ffffff
$font2: #181818
$font3: #c5c5c5
$footer: #0d0d0d

@font-face
    font-family: Regular
    src: url(assets/font/OpenSans-Regular.ttf)
@font-face
    font-family: Bold
    src: url(assets/font/OpenSans-Bold.ttf)
@font-face
    font-family: ExtraBold
    src: url(assets/font/OpenSans-ExtraBold.ttf)
@font-face
    font-family: Light
    src: url(assets/font/OpenSans-Light.ttf)

html
    scroll-behavior: smooth
body
    margin: 0
.loading
    overflow: hidden!important
