$orange: #ffb400
$background: #111111
$white: #ffffff
$font2: #181818
$font3: #c5c5c5
$footer: #0d0d0d

@font-face
    font-family: Regular
    src: url(assets/font/OpenSans-Regular.ttf)
@font-face
    font-family: Bold
    src: url(assets/font/OpenSans-Bold.ttf)
@font-face
    font-family: ExtraBold
    src: url(assets/font/OpenSans-ExtraBold.ttf)
@font-face
    font-family: Light
    src: url(assets/font/OpenSans-Light.ttf)

html
    // scroll-behavior: smooth
body
    margin: 0!important
.loading
    overflow: hidden!important
.wrap
    flex-wrap: wrap
.d-none
    display: none
.mat-input-element
    color: $font3!important
.mat-textarea-element
    color: $font3!important
.mat-dialog-container
    width: 70%!important
    height: auto!important
    padding: 12px!important
    text-align: center!important
    font-size: 2rem!important
    margin: auto!important
    background: $background!important
    color: $font3!important
    font-family: Regular!important
    @media screen and ( max-width: 1000px )
        font-size: 1.2rem!important

.half-width
    width: 45%!important
    margin-bottom: 15%
    margin-top: 5%
.margin-left
    margin-left: 10%
.halfplus-width
    width: 45%!important
    height: 100px
.full-width
    margin-top: 5%
    margin-bottom: 5%
    width: 100%!important
.customizer
    color: $white!important
    label
        color: red!important

::ng-deep  .mat-focused .mat-form-field-label

    color: $orange !important

::ng-deep.mat-form-field-underline

    background-color: $orange !important

::ng-deep.mat-form-field-ripple

    background-color: $orange !important

@keyframes error
    0%
        transform: rotate(2deg)
    10%
        transform: rotate(5deg)
    20%
        transform: rotate(0deg)
    30%
        transform: rotate(-2deg)
    40%
        transform: rotate(-5deg)
    50%
        transform: rotate(0deg)
    60%
        transform: rotate(2deg)
    70%
        transform: rotate(5deg)
    80%
        transform: rotate(0deg)
    90%
        transform: rotate(-5deg)
    100%
        transform: rotate(0deg)
.error
    animation: error 225ms ease-in-out
